* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

div.hidden {
  display: none;
} 

.popup {
  font-family: OpenSans;
  position: fixed;
  height: 100vh;  
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  position: relative;
}

.close-button {
  display: block; 
  height: 18px;
  width: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;  

  position: absolute;
  top: -25px;
  right: 0; 

  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-form {
  padding: 47px 30px 55px;
  background-color: white;
  max-width: 390px;
}

.form-hint {
  display: block;
  margin: 23px 0 8px;
  font-size: 13px;
}

.radio-button {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-text:before {
 content: "";
 display: inline-block;
 background-image: url(../svg/form-empty-circle.svg);
 height: 18px;
 width: 18px;
 background-repeat: no-repeat;
 background-size: 18px;
 vertical-align: middle;
 margin-right: 5px;
}

.radio-button:checked ~ .radio-text:before {
 background-image: url(../svg/form-circle.svg);
}

.radio-text {
  font-size: 13px;
  margin-right: 15px;
}

select.field {
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: right 13px center;
  margin-bottom: 30px;
  appearance: none;
}

textarea.field {
  min-height: 131px;
  min-width: 100%;
  max-width: 100%;
  padding: 17px;
}

.feedback-button {
  width: 100%;
  margin-top: 25px;
}

.header {
    background-color: #000000;
    background: url(../images/banner-bg.jpg) no-repeat center top;
    background-size: cover;

    padding-top: 25px;
    padding-bottom: 125px;

    position: relative;
    z-index: 0;
}

.header:after, .trend-news:after {
    content: "";
    position: absolute;
    background-color: #000000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: -1;
}

.header-logo {
    width: 180px;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
    font-size: 11px;
}

.menu-link {
  font-family: OpenSans, sans-serif;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-list-item:nth-child(6) {
  margin-right: 15px;
}
  
.menu-list-item:hover {
  text-decoration: underline;
}
  
.menu-link, .news-title-link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.headline {
  max-width: 690px;
  margin: 90px auto 0;  
}

.headline-text{
  font-family: OpenSans-Bold;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
}

.trend-section {
  margin-top: 60px;
  width: 100%;
  text-transform: uppercase;
}

.trend-section-line, .handmade-section-title, .main-section-title {
  text-align: center;
}

.line, .text-title, .handmade-section-title, .main-section-title {
  font-family: OpenSans-Bold;
  font-size: 20px;
  text-transform: uppercase;
}

.line:after, .handmade-section-title:after, .section-title:after, .main-section-title:after {
  content: "";
  display: block;
  width: 70px;
  padding-top: 3px;
  border-bottom: 3px solid #e4dabf;
  margin: 5px auto 25px auto;
}

.all-trends-news {
  display: flex;
  justify-content: space-between;
}

.trend-news {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: relative;
  z-index: 0;

  display: flex;
  align-items: flex-end;

  width: 25%;
  min-height: 320px;
  padding: 15px 20px;
}

.news-title-link {
  font-family: OpenSans-Bold;
  font-size: 18px;
  line-height: 1.2;

  margin-top: 6px;
}

.trend-card {
  border: 3px solid #8c7f5f;
  padding: 30px 30px;
  flex-grow: 1;
}

.garden {
  background-image: url("../images/trend1.jpg");
}

.cheese {
  background-image: url("../images/trend2.jpg");
}

.travel {
  background-image: url("../images/trend3.jpg");
}

.lemon {
  background-image: url("../images/trend4.jpg");
}

.news-card {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: OpenSans-Bold;
  font-size: 12px;
  margin: 0;
}

.news-teg {
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
}

.card-item:nth-child(n+2) {
  margin-left: 19px;
}

.trend-news:nth-child(n+2) {
  margin-left: 4px;
}

.main {
  width: 64%;
  max-width: 1020px;  
}

.main-main {
  max-width: 1200px;
  padding: 0 15px;
  margin: 63px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-news {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-news:nth-child(n+2) {
  margin-top: 55px;
}

.image {
  width: 100%;
  height: 100%;
}

.main-img {
  max-width: 380px;
  object-fit: contain;
  object-position: center top;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.main-img:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main-content {
  max-width: 350px;
  margin-left: 35px;
}

.article-title {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 5px;
}

.text-title {
  color: #0c0c0c;   
  text-decoration: none;
  text-transform: uppercase;
}

.text-title:hover {
  color: #d30c7d;
}

.news-data {
  font-family: OpenSans;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.date {
  color: #808080;
  margin-right: 12px;
}

.author {
  font-family: OpenSans-Bold;
  color: #0c0c0c;
  text-decoration: none;
}

.main-text, .box-text {
  font-family: OpenSans;
  line-height: 1.5;
  margin-top: 40px;
  font-size: 14px;
}

.aside-bar {
  max-width: 290px;
}

.aside-section:nth-child(n+2) {
  margin-top: 60px;
}

.section-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.posts {
  display: flex;
  align-items: flex-start;
}

.posts:nth-child(n+2) {
  margin-top: 14px;
}

.aside-img {
  min-width: 70px;
  margin-top: 8px;
  margin-right: 19px;
  transition: transform .2s;
}

.aside-img:hover {
  transform: scale(1.5); 
}

.post-data {
  font-family: OpenSans;
  font-size: 12px;
}

.title-link, .box-title, .box-price {
  font-family: OpenSans-Bold, sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.search-form {
  margin-top: 60px;
  display: flex;
}

.field {
  display: block;
  height: 47px;
  width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #f4f7f6;
  border-radius: 0;
  border: 1px solid #f4f7f6;
  font-family: OpenSans, sans-serif;
  font-size: 13px;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.search-button {
  display: inline-block;
  width: 47px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 19px auto;
  background-position: center center;
}

.button:hover {
  background-color: #323232;
} 

.button {
  height: 47px;
  border: none;
  
  background-color: #b59f5b;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.mailing-button {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}

.tegs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  list-style-type: none;
}

.tegs-name {
  margin-right: 5px;
  margin-bottom: 6px;
  border: 3px solid #eeeeee;
  padding: 4px 12px;
  font-size: 12px;
  font-family: OpenSans-Bold, sans-serif;
}

.teg {
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.topics-list {
  margin-top: 25px;
  list-style-type: none;
}

.topic-name {
  padding: 14px 0 12px 0;
  border: 1px solid;
  border-color: transparent transparent #eeeeee transparent;
  font-size: 14px;
  font-family: OpenSans-Bold, sans-serif;
}

.topic {
  color: #0f0d0e;
  text-decoration: none;
}

.topic-quantity {
  position: relative;
  bottom: 3px;
  
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
}

.handmade-section {
  margin-top: 64px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.handmade-section-item {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 23px;
  display: flex;
  justify-content: space-between;
}

.handmade-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-card {
  width: 300px;
  margin-top: -9px;
  padding-top: 29px;
  outline: 3px solid #b59f5b;
  outline-offset: 20px;
  flex-grow: 1;
}

.box-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-text {
  margin-top: 2px;
  font-size: 15px;
  line-height: 1.5;
}

.box-link {
  color: #b59f5b;
  text-decoration: none;
}

.box-link:hover {
  text-decoration: underline;
}

.box-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
  position: relative;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
}

.old-price {
  position: absolute;
  left: 0;
  bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}

.shop-button {
  display: inline-block;
  text-align: center;
  padding-top: 15px;
  width: 140px;
  text-decoration: none;
}

.footer {
  max-width: 1200px;
  margin: 94px auto 0 auto;
  padding: 0 15px 20px;
}

.footer-content {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-icon {
  display: block;
  min-width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.social-icon-list-item:nth-child(n+2){
  margin-left: 30px;
}

.social-icon__dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.social-icon__pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-icon__tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  max-width: 1240px;
  text-align: center;
  margin-top: 70px;
}

.copyright-link {
  color: #999999;
  text-decoration: none;
  font-size: 12px;
  font-family:  OpenSans-Bold, sans-serif;
}

.social-icon:hover {
  width: 40px;
  height: 40px;
}

/* @media (min-width: 1200px) {

  .menu-button {
    display: none;
  }
} */

/* для карточек трендов в четыре колонки */
@media (min-width: 1200px) {

  .menu-button {
    display: none;
  }
  
  .trend-news:nth-child(n+2) {
    margin-left: 4px;
  }
}

@media (max-width: 1200px) {
    
  .close-button {
    height: 28px;
    width: 28px;
    top: -36px;
  }

  .radio-text:before {
  height: 25px;
  width: 25px;
  background-size: 25px;
  }

   .radio-text {
  margin-right: 30px;
  }

  .form-hint {
  margin: 25px 0 9px;
  }

  .menu-list {
    display: none;
  }

  .menu {
   display: flex;
  }

  .menu-button {
    border: none;
    width: 22px;
    height: 19px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }

  .menu-button-label, .menu-button:before, .menu-button:after {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }

  .menu-button:before {
    content: "";
    position: absolute;
    top: 0;
  }

  .menu-button:after {
    content: "";
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  
  .header-content, .footer {
    padding: 0 35px;
  }

  .header {
    background-color: #000000;
    background-image: url("../images/banner-bg-tablet.jpg") no-repeat center top;
    padding-top: 45px;
    background-size: cover;
    padding-bottom: 112px;
  }

  .header-logo {
    width: 160px;
    margin-left: 0;
  }

  .headline {
    max-width: 650px;
    margin-top: 85px;
  }

  .headline-text {
    font-size: 40px;
    line-height: 1.4;
  }

  .trend-section {
    margin-top: 45px;
  }

  .trend-news {
    flex-basis: 49%;
    flex-grow: 1;
    min-height: 247px;
    padding: 15px 19px;
    margin-top: 0; 
    margin-bottom: 4px;
  }

 .trend-news:nth-child(2n+1) {
    margin-right: 4px;
  }

  .trend-news:nth-child(3) {
    margin-left: 0px;
  }

  .all-trends-news {
    margin-top: 18px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .trend-card {
    padding: 29px 29px;
  }

  .line, .handmade-section-title {
    font-size: 18px;
  }

  .news-title {
    font-size: 17px;
    line-height: 1.3;
  }

  .main-main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* padding-left: 20px; */
  }

  .main {
    max-width: 50%;
    min-width: 45%;
    border: 1px solid grey;
  }

  .main-news {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border: 1px solid green;
  }

  .main-content {
    margin-left: 0px;
    margin-top: 10px;
    border: 1px solid red;
  }

  .main-img {
    max-width: 100%;
  }
  
  .image {
    max-width: 470px;
  }

  .article-title {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.3;
  }

  .aside-section:first-child {
    margin-top: -5px;
  }

  .section-title {
    margin-bottom: 21px;
  }

  .author {
    margin-left: 10px;
  }

  .main-text {
    margin-top: 26px;
  }

  .aside-bar {
    border: 1px solid black;
    max-width: 35%;
  }

  .handmade-section {
    padding: 0 35px;
  }

  .handmade-section-item {
    padding: 0;
    margin-top: 27px;
    flex-wrap: wrap;
  }

  .handmade-box {
    margin-top: 30px;
    padding: 0 23px 23px;
  }

  .box-card {
    width: 100%;
    min-width: 290px;
    margin-top: -15px;
  }

  .box-title {
    font-size: 17px; 
  }

  .footer {
    margin-top: 20px;
  }

  .copyright {
    margin-top: 20px;
  }
}


/* карточки товара по 2 в ряд */
@media (min-width: 768px) and (max-width: 1199px) {

  .handmade-box {
    width: calc(50% - 10px);
  }
}

/* карточки товара в колонку */
@media (max-width: 760px) {
  
  .handmade-box {
    width: 100%;
  }

  .handmade-section-item {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  
  .feedback-form {
    padding: 27px 24px 32px;
  }

  .close-button {
    top: -32px;
  }

  textarea.field {
    resize: none;
  }
  
  .visually-hidden {
    display: none;
  }

  .popup-container {
    margin: 0 15px;
  }

  .header-content, .main-main, .footer, .trend-news {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    background-image: url("../images/banner-mobile.jpg") no-repeat center top;
    background-color: #000000;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 210px;
    width: 100%;
  }

  .header-content {
    flex-direction: column-reverse;
  }

  .menu {
    align-self: flex-end;
  }

  .header-logo {
    width: 270px;
    margin: 175px 0 28px 0;
  }

  .headline {
    padding: 0 30px;
    margin-top: 0;

  }

  .headline-text {
    font-size: 26px;
    line-height: 1.4;
  }

  .all-trends-news, .main-main, .main-news{
    display: flex;
    flex-direction: column;
  }

  .trend-section {
    margin-top: 40px;
  }

  .main {
    width: 100%;
  }

  .line {
    font-size: 16px;
  } 

  .main-main, .main-news, .handmade-section-item {
    display: flex;
    flex-direction: column;
  }

  .trend-news {
    width: 100%;
    min-height: 232px;
    margin-top: 3px;
  }

  .trend-card {
    padding: 26px 20px;
  }

  .news-title {
    margin-top: 9px;
    font-size: 16px;
    line-height: 1.25;
  }

  .main-main {
    margin-top: 45px;
  }

  .main-news {
    border-bottom: 3px #eeeeee solid;
  }

  .main-img {
    width: 100%;
    padding: 0px;
  }

  .image {
    object-fit: cover; 
  }

  .article-title {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 8px;
  }

  .main-content {
    width: 620px;
    min-width: none;
    margin-left: 0px;
    margin-top: 10px;
  }

  .news-data {
    margin-top: 12px;
  }

  .main-text-block {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }

  .main-news:nth-child(n+2) {
    margin-top: 35px;
  }

  .aside-bar {
    max-width: 620px;
    margin-left: 0;
    margin-top: 39px;
  }

  .section-title {
    font-size: 16px;
  }

  .aside-section:nth-child(n+2) {
    margin-top: 40px;
  }

  .handmade-section-item {
    margin-top: 30px;
  }

  .handmade-section {
    margin-top: 30px;
  }

  .handmade-box {
    align-items: center;
    margin-bottom: 55px;
  }

  .box-card {
    width: 100%;
    margin-top: -12px;
    padding-top: 25px;
  }

  .box-title {
    font-size: 17px;
  }

  .footer {
    margin-top: 15px;
  }

  .copyright {
    margin: 45px auto 45px;
  }

}